.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  /* Botón Editar */
  .edit {
    background-color: var(--color-button-edit);
    color: white;
  }
  
  .edit:hover {
    background-color: var(--color-tertiary);
  }
  
  /* Botón Eliminar */
  .delete {
    background-color: var(--color-button-delete);
    color: var(--color-tertiary);
  }
  
  .delete:hover {
    background-color: #da190b;
  }
  
  /* Botón Limpiar */
  .reset {
    background-color: var(--color-button-reset);
    color: white;
  }
  
  .reset:hover {
    background-color: var(--color-tertiary);
  }
  
  /* Botón Enviar */
  .submit {
    background-color: #008CBA;
    color: white;
  }
  
  .submit:hover {
    background-color: var(--color-tertiary);
  }
  