.table-container {
    max-width: 100%;
    overflow-x: auto; 
    background-color: var(--color-background);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }
  
  .th, .td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .th {
    background-color: #0070f3;
    color: white;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .td {
    background-color: #fff;
  }
  
  .td {
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .empty-row {
    text-align: center;
    font-style: italic;
    color: #777;
  }
  