
.section {
    background-color: var(--color-primary);
    padding: 2rem;
    width: 100%;
  }
  
  .title {
    font-size: 2em;
    color: var(--color-text-dark);
  }
  
  .form {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  
  .input {
    padding: 0.5rem;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid var(--color-secondary);
    transition: border-color 0.1s ease;
  }
  
  .input:focus {
    border-color: var(--color-button-submit);
    outline: none;
  }
  