.table-container { 
    background-color: var(--color-background);
  }
  .table {
    width: 100%;
  }
  .th, .td {
    padding: 1rem;
  }
  .th {
    background-color: var(--color-foreground);
    color: var(--color-background);
    font-size: 0.8em;
    text-align: left;
  }
  .empty-row {
    text-align: center;
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    .table-container { 
      background-color: var(--color-background);
    }
    .th, .td {
      padding: 1rem;
    }
    .th {
      background-color: var(--color-foreground);
      color: var(--color-background);
      font-size: 0.8em;
      text-align: left;
    }
    .empty-row {
      text-align: center;
    }
  }
  
  @media (min-width: 1025px) {
    .table-container {
      overflow-x: auto; 
      background-color: var(--color-background);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .table {
      width: 100%;
      border-collapse: separate;
    }
    
    .th, .td {
      padding: 0.2rem;
      text-align: left;
    }
    
    .th {
      background-color: var(--color-text-dark);
      color: var(--color-background);
      font-size: 1.1rem;
      text-align: left;
    }
  
    .td {
      background-color: var(--color-background);
      cursor: pointer;
    }
  
    .empty-row {
      text-align: center;
      font-style: italic;
      color: var(--color-button-delete);
    }
    
  }