.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    color: #0070f3;
    font-size: 2rem;
  }
  
  .description {
    color: #333;
    margin-top: 6rem;
  }
  